Repository yosuke-kuroki/jito-solana, changes with the labels that .github/labeler.yml gives for each.
All labels: explorer, web3.js

.github/labeler.yml:

explorer:
  - explorer/**/*

web3.js:
  - web3.js/**/*
  - web3.js-experimental/**/*

fix typo in shred.rs (#29149)
  ledger/tests/shred.rs
Labels: none

chore: improve solana-client-test (#29255)
  Cargo.lock
  client-test/Cargo.toml
  client-test/tests/client.rs
Labels: none

tracks number of gossip push duplicates
  gossip/src/crds.rs
Labels: none

prunes gossip nodes based on timeliness of delivered messages
  gossip/src/cluster_info.rs
  gossip/src/crds_gossip.rs
  gossip/src/crds_gossip_push.rs
  gossip/src/lib.rs
  gossip/src/received_cache.rs
  gossip/tests/crds_gossip.rs
Labels: none

locks crds table only once to process push messages (#29218)
  gossip/src/cluster_info.rs
  gossip/src/crds_gossip.rs
  gossip/src/crds_gossip_push.rs
  gossip/tests/crds_gossip.rs
Labels: none

explorer: add enum parsing for anchor arguments (#29275)
  explorer/src/utils/anchor.tsx
Labels: explorer

ignores pubkey in Protocol::PruneMessage (#29280)
  gossip/src/cluster_info.rs
  gossip/src/crds_gossip.rs
  gossip/src/crds_gossip_push.rs
Labels: none

Cleans up CacheHashData (#29267)
  runtime/src/accounts_db.rs
  runtime/src/cache_hash_data.rs
Labels: none

rpc: fix possible panics in optimize_filters (#29146)
  rpc/src/rpc.rs
Labels: none

sanitizes shreds recovered from erasure shards (#29286)
  ledger/src/shred/merkle.rs
Labels: none

Remove unused ticks_per_slot variable (#29279)
  entry/src/poh.rs
  poh/src/poh_recorder.rs
Labels: none

removes Box<dyn Iterator<...>> from rpc/src/rpc_subscriptions.rs (#29203)
  rpc/src/rpc_subscriptions.rs
Labels: none

Remove repetitive logic in SlotMeta first insert detection logic (#29153)
  ledger/src/blockstore.rs
Labels: none

Add an rbpf-cli option to dump the program execution trace (#29289)
  rbpf-cli/src/main.rs
Labels: none

add support for a repair protocol whitelist (#29161)
  core/src/ancestor_hashes_service.rs
  core/src/repair_service.rs
  core/src/serve_repair.rs
  core/src/tvu.rs
  core/src/validator.rs
  local-cluster/src/validator_configs.rs
  test-validator/src/lib.rs
  validator/src/admin_rpc_service.rs
  validator/src/bin/solana-test-validator.rs
  validator/src/cli.rs
  validator/src/main.rs
Labels: none

Make ledger-tool list-roots subcommand inclusive of start-root arg (#29265)
  ledger-tool/src/main.rs
Labels: none

refactor get_store_for_shrink (#29284)
  runtime/src/accounts_db.rs
Labels: none

"solana program set-upgrade-authority" uses SetAuthorityChecked instruction by default (#29190)
  cli/src/program.rs
Labels: none

Prune redundant const SLOT_MS (#29278)
  core/src/accounts_hash_verifier.rs
  core/src/ancestor_hashes_service.rs
  runtime/src/bucket_map_holder.rs
  sdk/program/src/clock.rs
Labels: none

Explorer: removed lamports balance and added message for reaped accounts (#29283)
  explorer/src/components/account/UnknownAccountCard.tsx
Labels: explorer

docs: Accounts must be rent exempt (#29256)
  docs/src/storage_rent_economics.md
Labels: none

patches shred::merkle::make_shreds_from_data when data is empty (#29295)
  ledger/src/shred.rs
  ledger/src/shred/merkle.rs
  ledger/src/sigverify_shreds.rs
Labels: none

Fixes format string (#29298)
  client-test/tests/client.rs
Labels: none

Explorer: account does not exist (#29308)
  explorer/src/components/account/UnknownAccountCard.tsx
Labels: explorer

quic test timeout fix (#29260)
  streamer/src/nonblocking/quic.rs
Labels: none

Fixes non-binding `let` on a future (ip-echo-server) (#29301)
  net-utils/src/ip_echo_server.rs
Labels: none

Fixes non-binding `let` on a future (quic-client) (#29300)
  client/src/quic_client.rs
  quic-client/src/quic_client.rs
Labels: none

chore: correct the name of the STALEBOT_START_DATE_RFC_2822 variable (#29191)
  .github/workflows/manage-stale-issues-and-prs.yml
Labels: none

fix typo in runtime docs (#29314)
  docs/src/developing/programming-model/runtime.md
Labels: none

take rust version from toolchain file (#29320)
  ci/publish-tarball.sh
  ci/rust-version.sh
  rust-toolchain.toml
Labels: none

remove a wrapper function (#29305)
  core/src/unprocessed_transaction_storage.rs
Labels: none

remove metrics from prior to rent_epoch feature activation (#29322)
  runtime/src/rent_collector.rs
Labels: none

fix: reduce Connection keep-alive timeout to 1 second fewer than the Solana RPC's keep-alive timeout (#29130)
  web3.js/package.json
  web3.js/src/agent-manager.ts
  web3.js/src/connection.ts
  web3.js/test/agent-manager.test.ts
  web3.js/yarn.lock
Labels: web3.js

docs: make the comments on using the new confirmTransaction clearer (#29251)
  web3.js/src/connection.ts
  web3.js/src/utils/send-and-confirm-raw-transaction.ts
Labels: web3.js

shrink avoids reshaping data by using StorableAccounts trait (#29307)
  runtime/src/accounts_db.rs
Labels: none

Fixes format strings (#29327)
  ledger-tool/src/main.rs
  programs/sbf/build.rs
  validator/src/main.rs
Labels: none

Actually fixes non-binding `let` on a future (quic-client) (#29326)
  client/src/quic_client.rs
  quic-client/src/quic_client.rs
Labels: none

chore: bump rcgen from 0.9.2 to 0.9.3 (#28021)
  Cargo.lock
  programs/sbf/Cargo.lock
  streamer/Cargo.toml
Labels: none

Move getSecondaryIndexKeySize RPC to admin_rpc_service (#29003)
  Cargo.lock
  rpc/src/rpc.rs
  validator/Cargo.toml
  validator/src/admin_rpc_service.rs
Labels: none

fix: make toBytes actually return the type it's typehint claims (#29313)
  web3.js/src/publickey.ts
Labels: web3.js
