Repository yosuke-kuroki/jito-solana, changes with the labels that .github/labeler.yml gives for each.
All labels: explorer, web3.js

rebuild_bank_from_snapshots uses write cache (#29047)
  runtime/src/snapshot_utils.rs
Labels: none

Add SlotMeta unit test for connected at slot zero (#29025)
  ledger/src/blockstore_meta.rs
Labels: none

fix: prevent the first-ever signature subscription from leaking (#29056)
  web3.js/src/connection.ts
Labels: web3.js

feat: you can now abort transaction confirmations in web3.js (#29057)
  web3.js/package.json
  web3.js/src/connection.ts
  web3.js/src/epoch-schedule.ts
  web3.js/src/utils/send-and-confirm-transaction.ts
  web3.js/test/connection.test.ts
  web3.js/yarn.lock
Labels: web3.js

chore:(deps): bump decode-uri-component from 0.2.0 to 0.2.2 in /explorer (#29060)
  explorer/package-lock.json
Labels: explorer

chore: remove last references to Flow types in web3.js (#29061)
  web3.js/.gitignore
  web3.js/README.md
Labels: web3.js

adds metrics for gossip push fanout (#29065)
  gossip/src/cluster_info.rs
  gossip/src/cluster_info_metrics.rs
  gossip/src/crds_gossip.rs
  gossip/src/crds_gossip_push.rs
  gossip/tests/crds_gossip.rs
Labels: none

Mergify: don't add automerge label to backport PRs (#29070)
  .mergify.yml
Labels: none

Use AccountsHash instead of bare Hash (#29052)
  runtime/src/accounts_hash.rs
Labels: none

AccountsDb::get_snapshot_storages() takes a Range for slots (#29054)
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/serde_snapshot/tests.rs
  runtime/src/snapshot_minimizer.rs
Labels: none

test_verify_snapshot_bank works without write cache (#29075)
  runtime/src/bank.rs
Labels: none

test_process_stale_slot_with_budget never uses write cache (#29076)
  runtime/src/bank.rs
Labels: none

change test validator from non upgradable bpf loader to upgradable bpf loader (#29051)
  validator/src/bin/solana-test-validator.rs
Labels: none

test_accounts_clean_after_snapshot_restore_then_old_revives can use write cache (#29050)
  runtime/src/accounts_db.rs
Labels: none

test_lazy_gc_slot can use write cache (#29080)
  runtime/src/accounts_db.rs
Labels: none

bank tests use write cache (#28885)
  runtime/src/bank.rs
Labels: none

store_uncached -> store_for_tests (#29083)
  runtime/src/accounts_db.rs
Labels: none

ci: make docs job name more explicit (#29072)
  .github/workflows/docs.yml
Labels: none

test_uncleaned_roots_with_account uses write cache (#29084)
  runtime/src/accounts_db.rs
Labels: none

test_clean_accounts_with_last_full_snapshot_slot uses write cache (#29087)
  runtime/src/accounts_db.rs
Labels: none

sdk: Make Packet::meta private, use accessor functions (#29092)
  bench-streamer/src/main.rs
  core/benches/banking_stage.rs
  core/benches/sigverify_stage.rs
  core/benches/unprocessed_packet_batches.rs
  core/src/ancestor_hashes_service.rs
  core/src/banking_stage.rs
  core/src/cluster_info_vote_listener.rs
  core/src/fetch_stage.rs
  core/src/find_packet_sender_stake_stage.rs
  core/src/immutable_deserialized_packet.rs
  core/src/latest_unprocessed_votes.rs
  core/src/packet_deserializer.rs
  core/src/repair_response.rs
  core/src/serve_repair.rs
  core/src/shred_fetch_stage.rs
  core/src/sigverify.rs
  core/src/sigverify_shreds.rs
  core/src/sigverify_stage.rs
  core/src/unprocessed_packet_batches.rs
  core/src/unprocessed_transaction_storage.rs
  core/src/window_service.rs
  entry/src/entry.rs
  gossip/src/cluster_info.rs
  gossip/tests/gossip.rs
  ledger/src/shred.rs
  ledger/src/sigverify_shreds.rs
  perf/benches/dedup.rs
  perf/benches/shrink.rs
  perf/benches/sigverify.rs
  perf/src/packet.rs
  perf/src/sigverify.rs
  quic-client/tests/quic_client.rs
  sdk/src/packet.rs
  streamer/src/nonblocking/quic.rs
  streamer/src/nonblocking/recvmmsg.rs
  streamer/src/packet.rs
  streamer/src/recvmmsg.rs
  streamer/src/streamer.rs
  streamer/tests/recvmmsg.rs
Labels: none

Fix mergify for docs PRs (#29026)
  .mergify.yml
Labels: none

test_partial_clean supports write cache (#29091)
  runtime/src/accounts_db.rs
Labels: none

test_shrink_stale_slots_processed uses write cache (#29082)
  runtime/src/accounts_db.rs
Labels: none

test_accounts_db_serialize1 uses write cache (#29085)
  runtime/src/accounts_db.rs
Labels: none

test_shrink_stale_slots_skipped only uses non-write cache (#29081)
  runtime/src/accounts_db.rs
Labels: none

test_accountsdb_count_stores uses write cache (#29086)
  runtime/src/accounts_db.rs
Labels: none

test_clean_multiple_zero_lamport_decrements_index_ref_count uses write cache (#29088)
  runtime/src/accounts_db.rs
Labels: none

perf: Change underlying Elems to *const u8 (#29089)
  ledger/src/sigverify_shreds.rs
  perf/src/perf_libs.rs
  perf/src/sigverify.rs
Labels: none

test_account_grow uses write cache (#29099)
  runtime/src/accounts_db.rs
Labels: none

Remove gate from accepting packets for forwarding (#29049)
  core/src/forward_packet_batches_by_accounts.rs
Labels: none

test_verify_bank_capitalization works with write cache (#29107)
  runtime/src/accounts_db.rs
Labels: none

test_accounts_db_serialize_zero_and_free uses write cache (#29102)
  runtime/src/accounts_db.rs
Labels: none

migrating tests to use write cache (#29101)
  runtime/src/accounts_db.rs
Labels: none

with_chained_zero_lamport_accounts works with write cache (#29104)
  runtime/src/accounts_db.rs
Labels: none

get mmap with wc-l
  bucket_map/src/bucket_storage.rs
  core/src/system_monitor_service.rs
Labels: none

fix
  ledger-tool/src/main.rs
Labels: none

wc-l-copy
  bucket_map/src/bucket_map.rs
Labels: none

log mmap count
  bucket_map/src/bucket_storage.rs
Labels: none

comments
  bucket_map/src/bucket_map.rs
Labels: none

.github/labeler.yml:

explorer:
  - explorer/**/*

web3.js:
  - web3.js/**/*
  - web3.js-experimental/**/*
