Repository yosuke-kuroki/jito-solana, changes with the labels that .github/labeler.yml gives for each.
All labels: explorer, web3.js

.github/labeler.yml:

explorer:
  - explorer/**/*

web3.js:
  - web3.js/**/*
  - web3.js-experimental/**/*

track repair handle_requests time (#29940)
  core/src/serve_repair.rs
Labels: none

Fixed bug with mishmash of traces from different programs in single log (#29605)
  program-runtime/src/invoke_context.rs
  programs/sbf/tests/programs.rs
  rbpf-cli/src/main.rs
Labels: none

records outdated gossip crds upserts in received-cache (#29973)
  gossip/src/crds_gossip.rs
  gossip/src/crds_gossip_push.rs
  gossip/src/push_active_set.rs
  gossip/src/received_cache.rs
Labels: none

Feature - Disable builtin loader ownership chains (#29959)
  runtime/src/accounts.rs
  sdk/src/feature_set.rs
Labels: none

refactor: remove obsoleted function (#29964)
  runtime/src/cost_model.rs
Labels: none

ledger-tool: Fix argument matching for accounts_db_ancient_append_vecs (#29976)
  ledger-tool/src/main.rs
Labels: none

reduces number of gossip pull requests/responses (#29974)
  gossip/src/cluster_info.rs
  gossip/src/crds_gossip_pull.rs
  gossip/src/crds_gossip_push.rs
  perf/src/data_budget.rs
Labels: none

Add backwards compatibility clarification on CLI tooling output (#29961)
  docs/src/developing/backwards-compatibility.md
Labels: none

Account path add run parent with old path cleanup (#29942)
  core/src/snapshot_packager_service.rs
  core/tests/epoch_accounts_hash.rs
  core/tests/snapshots.rs
  ledger-tool/src/main.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/common.rs
  local-cluster/tests/local_cluster.rs
  runtime/src/accounts_db.rs
  runtime/src/hardened_unpack.rs
  runtime/src/serde_snapshot/tests.rs
  runtime/src/snapshot_utils.rs
  test-validator/src/lib.rs
  validator/src/main.rs
Labels: none

refactor update_shrink_stats (#29983)
  runtime/src/accounts_db.rs
Labels: none

update license
  LICENSE
Labels: none

ledger-tool: Move AccountsDbConfig building to common helper function (#29975)
  ledger-tool/src/main.rs
Labels: none

remove create_ancient_append_vec (#29984)
  runtime/src/accounts_db.rs
Labels: none

refactor shrink_collect (#29982)
  runtime/src/accounts_db.rs
Labels: none

remove unnecessary lifetimes (#29988)
  runtime/src/accounts_db.rs
Labels: none

update disclaimer
  README.md
Labels: none

serde-snapshot uses methods to access AccountsDb::bank_hashes (#29989)
  runtime/src/accounts_db.rs
  runtime/src/serde_snapshot.rs
  runtime/src/serde_snapshot/newer.rs
Labels: none

[explorer] Fix parsing of some Pyth transactions. (#29943)
  explorer/src/components/instruction/pyth/PythDetailsCard.tsx
  explorer/src/components/instruction/pyth/program.ts
Labels: explorer

Makes AccountsDb::bank_hashes private (#29990)
  runtime/src/accounts_db.rs
Labels: none

test: fix rentEpoch value (#29999)
  web3.js/test/connection.test.ts
Labels: web3.js

fix: correct return type of getFeeForMessage (#30004)
  web3.js/src/connection.ts
  web3.js/src/transaction/legacy.ts
Labels: web3.js

chore: bump @rollup/plugin-commonjs from 22.0.0 to 24.0.1 in /web3.js (#29824)
  web3.js/package-lock.json
  web3.js/package.json
  web3.js/yarn.lock
Labels: web3.js

chore: bump @noble/secp256k1 from 1.6.3 to 1.7.1 in /web3.js (#29850)
  web3.js/package-lock.json
  web3.js/yarn.lock
Labels: web3.js

chore: bump json5 from 1.0.1 to 1.0.2 in /web3.js (#29500)
  web3.js/package-lock.json
  web3.js/yarn.lock
Labels: web3.js

chore: bump @typescript-eslint/parser from 5.47.1 to 5.49.0 in /web3.js (#30007)
  web3.js/package-lock.json
  web3.js/yarn.lock
Labels: web3.js

chore: bump @babel/runtime from 7.20.7 to 7.20.13 in /web3.js (#30008)
  web3.js/package-lock.json
  web3.js/yarn.lock
Labels: web3.js

chore: bump @noble/hashes from 1.1.2 to 1.1.5 in /web3.js (#30011)
  web3.js/package-lock.json
  web3.js/yarn.lock
Labels: web3.js

chore: bump @rollup/plugin-alias from 3.1.9 to 4.0.3 in /web3.js (#30012)
  web3.js/package-lock.json
  web3.js/package.json
  web3.js/yarn.lock
Labels: web3.js

chore: bump start-server-and-test from 1.14.0 to 1.15.3 in /web3.js (#30013)
  web3.js/package-lock.json
  web3.js/yarn.lock
Labels: web3.js

chore: bump @noble/ed25519 from 1.7.0 to 1.7.1 in /web3.js (#30015)
  web3.js/package-lock.json
  web3.js/yarn.lock
Labels: web3.js

chore: bump rollup from 2.70.2 to 2.79.1 in /web3.js (#30016)
  web3.js/package-lock.json
  web3.js/package.json
  web3.js/yarn.lock
Labels: web3.js

restructure repair decode error handling (#29977)
  core/src/result.rs
  core/src/serve_repair.rs
Labels: none

get_best_weighted_repairs parameter cleanup (#30010)
  core/src/repair_service.rs
  core/src/repair_weight.rs
Labels: none

measure! -> measure_us! (#29991)
  runtime/src/accounts_db.rs
Labels: none

runtime: add test_type_layout (#29987)
  Cargo.lock
  programs/sbf/Cargo.lock
  runtime/Cargo.toml
  runtime/src/append_vec.rs
  sdk/program/Cargo.toml
Labels: none

fix: [web3] only ever send RPC socket messages when the socket is open (#29195)
  web3.js/rollup.config.js
  web3.js/src/__forks__/browser/rpc-websocket-factory.ts
  web3.js/src/__forks__/react-native/rpc-websocket-factory.ts
  web3.js/src/connection.ts
  web3.js/src/rpc-websocket-factory.ts
  web3.js/src/rpc-websocket.ts
  web3.js/test/connection-subscriptions.test.ts
  web3.js/test/connection.test.ts
  web3.js/test/mocks/rpc-http.ts
  web3.js/test/mocks/rpc-websocket.ts
  web3.js/test/nonce.test.ts
  web3.js/test/transaction-payer.test.ts
  web3.js/test/websocket.test.ts
Labels: web3.js

faucet: Remove unused FAUCET_PORT_STR const (#30005)
  faucet/src/faucet.rs
Labels: none

solana-genesis: add support for initializing upgradeable programs (#29994)
  Cargo.lock
  fetch-spl.sh
  genesis/Cargo.toml
  genesis/src/main.rs
Labels: none

Bump bumpalo from 3.8.0 to 3.12.0 (#29810)
  Cargo.lock
  programs/sbf/Cargo.lock
Labels: none

Add local cluster test for optimistic confirmation with malformed votes (#29822)
  core/src/validator.rs
  local-cluster/src/cluster_tests.rs
  local-cluster/tests/local_cluster.rs
  local-cluster/tests/local_cluster_slow_1.rs
Labels: none
