Repository yosuke-kuroki/jito-solana, changes with the labels that .github/labeler.yml gives for each.
All labels: explorer, web3.js

add monitoring for open file descriptors stat
  Cargo.lock
  core/Cargo.toml
  core/src/system_monitor_service.rs
  core/src/validator.rs
  ledger-tool/src/main.rs
  local-cluster/src/validator_configs.rs
  programs/sbf/Cargo.lock
  validator/src/cli.rs
  validator/src/main.rs
Labels: none

review feedbacks
  bucket_map/src/bucket_storage.rs
Labels: none

clippy
  bucket_map/src/bucket_storage.rs
Labels: none

share code
  Cargo.lock
  bucket_map/src/bucket_map.rs
  bucket_map/src/bucket_storage.rs
  core/Cargo.toml
  core/src/system_monitor_service.rs
Labels: none

fix merge error
  bucket_map/src/bucket_storage.rs
  core/src/system_monitor_service.rs
Labels: none

increase fd report interval to 3 minutes
  core/src/system_monitor_service.rs
Labels: none

refactor SystemMonitorReportConfig
  core/src/system_monitor_service.rs
  core/src/validator.rs
Labels: none

Update validator/src/cli.rs
  validator/src/cli.rs
Labels: none

fix build
  ledger-tool/src/main.rs
Labels: none

sort deps
  core/Cargo.toml
Labels: none

alternative impl
  bucket_map/src/bucket_map.rs
  bucket_map/src/bucket_storage.rs
Labels: none

add mmmap file count
  core/src/system_monitor_service.rs
Labels: none

fix
  core/src/system_monitor_service.rs
Labels: none

report number of open files
  bucket_map/src/bucket_map.rs
  bucket_map/src/bucket_storage.rs
  core/src/system_monitor_service.rs
Labels: none

log number of open files when panic
  Cargo.lock
  bucket_map/Cargo.toml
  bucket_map/src/bucket_storage.rs
  programs/sbf/Cargo.lock
Labels: none

don't use procfs as it is not supported on mac and windows. make open_fd stats only on linux platform
  Cargo.lock
  bucket_map/Cargo.toml
  bucket_map/src/bucket_map.rs
  bucket_map/src/bucket_storage.rs
  core/src/system_monitor_service.rs
  programs/sbf/Cargo.lock
Labels: none

patches errors from clippy::unchecked_duration_subtraction
  core/src/replay_stage.rs
  dos/src/main.rs
  runtime/src/accounts_db.rs
Labels: none

patches errors from clippy::seek_to_start_instead_of_rewind
  bucket_map/src/bucket_storage.rs
  rbpf-cli/src/main.rs
  runtime/src/append_vec.rs
  runtime/src/cache_hash_data.rs
Labels: none

chore:(deps): bump express from 4.17.1 to 4.18.2 in /explorer (#29120)
  explorer/package-lock.json
Labels: explorer

patches rust code formatting in core/src/replay_stage.rs (#29123)
  core/src/replay_stage.rs
Labels: none

test_clean_zero_lamport_and_dead_slot uses write cache (#29114)
  runtime/src/account_info.rs
  runtime/src/accounts_db.rs
Labels: none

do_full_clean_refcount uses write cache (#29112)
  runtime/src/accounts_db.rs
Labels: none

migrate tests to work with write cache (#29106)
  runtime/src/accounts_db.rs
Labels: none

test_remove_unrooted_slot_snapshot uses write cache (#29110)
  runtime/src/accounts_db.rs
Labels: none

test_accounts_db_purge1 uses write cache (#29100)
  runtime/src/accounts_db.rs
Labels: none

Remove unused Option<> around ValidatorConfig's SnapshotConfig (#29090)
  core/src/accounts_hash_verifier.rs
  core/src/validator.rs
  core/tests/epoch_accounts_hash.rs
  core/tests/snapshots.rs
  local-cluster/src/local_cluster.rs
  local-cluster/tests/common.rs
  local-cluster/tests/local_cluster.rs
  test-validator/src/lib.rs
  validator/src/bootstrap.rs
  validator/src/main.rs
Labels: none

feat: you can now supply your own HTTP agent to a web3.js Connection (#29125)
  web3.js/package.json
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: web3.js

Revert #28945 (#29127)
  Cargo.lock
  bucket_map/src/bucket_map.rs
  bucket_map/src/bucket_storage.rs
  core/Cargo.toml
  core/src/system_monitor_service.rs
  core/src/validator.rs
  ledger-tool/src/main.rs
  local-cluster/src/validator_configs.rs
  programs/sbf/Cargo.lock
  validator/src/cli.rs
  validator/src/main.rs
Labels: none

fix solRptLdgrStat thread hang (#29118)
  core/src/validator.rs
Labels: none

migrate tests to use write cache (#29108)
  runtime/src/accounts_db.rs
Labels: none

test_clean_zero_lamport_and_old_roots uses write cache (#29113)
  runtime/src/accounts_db.rs
Labels: none

Removed Arcs from PohConfig parameters and pass the struct by reference only
  core/src/banking_stage.rs
  core/src/replay_stage.rs
  core/src/validator.rs
  poh/src/poh_recorder.rs
  poh/src/poh_service.rs
  rpc/src/cluster_tpu_info.rs
Labels: none

test_shrink_collect_simple uses write cache (#29115)
  runtime/src/accounts_db.rs
Labels: none

test_get_snapshot_storages_only_non_empty uses write cache (#29111)
  runtime/src/accounts_db.rs
Labels: none

Remove an unnecessary clone of a PohConfig inside Validator::new
  core/src/validator.rs
Labels: none

migrate some tests to work with write cache (#29124)
  runtime/src/accounts_db.rs
Labels: none

cli: Use QUIC if the default TPU does *not* use UDP (#29141)
  cli/src/clap_app.rs
  cli/src/main.rs
Labels: none

Uses `storages` for instance of SortedStorages (#29133)
  runtime/src/accounts_db.rs
Labels: none

test_shrink_candidate_slots_cached works with write cache (#29143)
  runtime/src/bank.rs
Labels: none

ledger-tool create-snapshot uses write cache (#29119)
  ledger-tool/src/main.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
Labels: none

.github/labeler.yml:

explorer:
  - explorer/**/*

web3.js:
  - web3.js/**/*
  - web3.js-experimental/**/*
