Repository yosuke-kuroki/jito-solana, changes with the labels that .github/labeler.yml gives for each.
All labels: explorer, web3.js

.github/labeler.yml:

explorer:
  - explorer/**/*

web3.js:
  - web3.js/**/*
  - web3.js-experimental/**/*

Add an RPC API that can query the list of Top N secondary index keys and their sizes (#28887)
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  runtime/src/secondary_index.rs
Labels: none

Bump tonic from 0.8.2 to 0.8.3 (#29697)
  Cargo.lock
  ledger/Cargo.toml
  programs/sbf/Cargo.lock
  storage-bigtable/Cargo.toml
  storage-bigtable/build-proto/Cargo.toml
  storage-bigtable/proto/google.api.rs
  storage-bigtable/proto/google.bigtable.v2.rs
  storage-bigtable/proto/google.rpc.rs
  storage-proto/Cargo.toml
Labels: none

runtime: make {Stored,Account}Meta repr(C) (#30027)
  runtime/src/append_vec.rs
Labels: none

Update mergify backport actions to new version numbers v1.14 and v1.15 (#30031)
  .mergify.yml
Labels: none

Limit loaded data per transaction to a fixed cap (#29743)
  runtime/src/accounts.rs
  runtime/src/bank.rs
  runtime/src/transaction_error_metrics.rs
  sdk/src/feature_set.rs
  sdk/src/transaction/error.rs
  storage-proto/proto/transaction_by_addr.proto
  storage-proto/src/convert.rs
Labels: none

[explorer] Add Account Compression Program to searchable programs on explorer (#30033)
  explorer/src/utils/tx.ts
Labels: explorer

Add Admin RPC Front End for Top N Secondary Index Key Sizes Query. (#29352)
  validator/src/admin_rpc_service.rs
Labels: none

chore: bump @babel/preset-env from 7.18.10 to 7.20.2 in /web3.js (#30043)
  web3.js/package-lock.json
  web3.js/yarn.lock
Labels: web3.js

chore: bump mocha from 10.1.0 to 10.2.0 in /web3.js (#30046)
  web3.js/package-lock.json
  web3.js/yarn.lock
Labels: web3.js

chore: bump @typescript-eslint/eslint-plugin from 5.40.1 to 5.50.0 in /web3.js (#30048)
  web3.js/package-lock.json
  web3.js/yarn.lock
Labels: web3.js

expands api parity between the new and the legacy contact-info (#30038)
  core/src/broadcast_stage/broadcast_fake_shreds_run.rs
  gossip/src/contact_info.rs
  gossip/src/legacy_contact_info.rs
  rpc/src/rpc.rs
Labels: none

add cli arg for choosing ancient append vec format (#30025)
  runtime/src/accounts_db.rs
  validator/src/cli.rs
  validator/src/main.rs
Labels: none

tests adding accounts can mark alive in index (#30029)
  runtime/src/accounts_db.rs
Labels: none

update comments on get_ancient_append_vec_capacity (#30030)
  runtime/src/ancient_append_vecs.rs
Labels: none

shrink ignores ancient slots (#30026)
  runtime/src/accounts_db.rs
Labels: none

Extends `enable_program_redeployment_cooldown` to closing programs (#29981)
  programs/bpf_loader/src/lib.rs
Labels: none

Use RangeBounds for is_within_range (#29763)
  bench-tps/src/cli.rs
  clap-utils/src/input_validators.rs
  clap-v3-utils/src/input_validators.rs
  cli/src/stake.rs
  cli/src/vote.rs
  validator/src/cli.rs
Labels: none

BankingStage Refactor: Add state to DecisionMaker (#29806)
  core/src/banking_stage.rs
  core/src/banking_stage/decision_maker.rs
Labels: none

report less datapoints to block_min_prioritization_fee (#30017)
  runtime/src/prioritization_fee.rs
Labels: none

ledger-tool: Remove unnecessary function to parse ledger path arg (#29952)
  ledger-tool/src/ledger_path.rs
  ledger-tool/src/main.rs
Labels: none

add pub(crate) to shrink functions (#30052)
  runtime/src/accounts_db.rs
Labels: none

Exclude loopback from valid IP addresses (#29992)
  ci/localnet-sanity.sh
  docs/src/cluster/bench-tps.md
  streamer/src/socket.rs
Labels: none

Splits up AccountsDb::bank_hashes (#30024)
  core/tests/snapshots.rs
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/serde_snapshot/tests.rs
  runtime/src/snapshot_utils.rs
Labels: none

simplify 2 StorableAccounts impls (#30054)
  runtime/src/storable_accounts.rs
Labels: none

add StorableAccountsBySlot to move accounts from multiple slots to 1 (#30023)
  runtime/src/storable_accounts.rs
Labels: none

remove obsoleted else-if clause (#30020)
  runtime/src/cost_model.rs
Labels: none

is_cached_store, bool -> Storage enum (#30057)
  runtime/src/accounts_db.rs
Labels: none

impl default version of contains_multiple_slots (#30055)
  runtime/src/accounts_db.rs
  runtime/src/bank.rs
  runtime/src/storable_accounts.rs
Labels: none

clean up remove_old_stores_shrink stats (#30018)
  runtime/src/accounts_db.rs
Labels: none

remove unnecessary lifetime (#30019)
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
Labels: none

Bump assert_cmd from 2.0.4 to 2.0.5 (#30044)
  Cargo.lock
Labels: none

remove congestion multiplier from transaction fee calculation (#29828)
  programs/sbf/tests/programs.rs
  runtime/src/accounts.rs
  runtime/src/bank.rs
  sdk/src/feature_set.rs
Labels: none
