Repository yosuke-kuroki/jito-solana, changes with the labels that .github/labeler.yml gives for each.
All labels: explorer, web3.js

Remove `start-date` config from Stalebot
  .github/workflows/manage-stale-issues-and-prs.yml
Labels: none

Increase stalebot operations limit by 50%
  .github/workflows/manage-stale-issues-and-prs.yml
Labels: none

indexes duplicate-shreds in gossip crds table (#29317)
  gossip/src/cluster_info.rs
  gossip/src/crds.rs
Labels: none

Increase Stalebot operations limit by another 50%
  .github/workflows/manage-stale-issues-and-prs.yml
Labels: none

Elides unnecessary lifetimes (#29299)
  bench-tps/src/cli.rs
  core/src/unprocessed_transaction_storage.rs
  download-utils/src/lib.rs
  poh/src/poh_recorder.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/accounts_index.rs
  validator/src/lib.rs
Labels: none

test_minimize_accounts_db uses write cache correctly (#29333)
  runtime/src/accounts_db.rs
  runtime/src/snapshot_minimizer.rs
Labels: none

rolls back merkle shreds on testnet (#29340)
  core/src/broadcast_stage/standard_broadcast_run.rs
Labels: none

remove acctdb.min_num_stores (#29335)
  runtime/src/accounts_db.rs
Labels: none

Remove println (#29342)
  validator/src/admin_rpc_service.rs
Labels: none

exclude Vote transactions from updating min-fee-cache (#29341)
  runtime/src/prioritization_fee_cache.rs
Labels: none

Add metrics for min/max priority fee per slot, and counters for fee/non-fee transactions (#29330)
  runtime/src/prioritization_fee.rs
Labels: none

test_utils::create_test_accounts pre-allocates an append vec first (#29336)
  accounts-bench/src/main.rs
  runtime/benches/accounts.rs
  runtime/src/accounts.rs
  runtime/src/accounts_db.rs
  runtime/src/serde_snapshot/tests.rs
Labels: none

introduce ShrinkInProgress (#29329)
  runtime/src/account_storage.rs
  runtime/src/accounts_db.rs
  runtime/src/snapshot_minimizer.rs
Labels: none

Fix "tranaction" typo in code base (#29347)
  runtime/src/bank.rs
  sdk/src/feature_set.rs
  send-transaction-service/src/send_transaction_service.rs
Labels: none

[docs] updating the "writing programs" section (#29197)
  docs/sidebars.js
  docs/src/developing/on-chain-programs/developing-c.md
  docs/src/developing/on-chain-programs/developing-rust.md
  docs/src/developing/on-chain-programs/faq.md
  docs/src/developing/on-chain-programs/limitations.md
  docs/src/developing/on-chain-programs/overview.md
  docs/src/getstarted/rust.md
  docs/src/terminology.md
Labels: none

[docs] Updated transactions overview page (#29345)
  docs/src/developing/programming-model/transactions.md
Labels: none

docs: transactions fees/confirmation and deploying programs (#28895)
  docs/sidebars.js
  docs/src/cluster/fork-generation.md
  docs/src/developing/intro/transaction_fees.md
  docs/src/developing/on-chain-programs/deploying.md
  docs/src/developing/transaction_confirmation.md
  docs/src/transaction_fees.md
Labels: none

Remove checks for activated feature check_physical_overlapping (#29355)
  programs/bpf_loader/src/syscalls/mem_ops.rs
  programs/bpf_loader/src/syscalls/mod.rs
Labels: none

fix: client-test timeout (#29364)
  client-test/tests/client.rs
Labels: none

Expand solana-sdk API docs. (#29063)
  sdk/program/src/entrypoint.rs
  sdk/program/src/entrypoint_deprecated.rs
  sdk/program/src/lib.rs
  sdk/src/account.rs
  sdk/src/account_utils.rs
  sdk/src/builtins.rs
  sdk/src/commitment_config.rs
  sdk/src/compute_budget.rs
  sdk/src/derivation_path.rs
  sdk/src/deserialize_utils.rs
  sdk/src/ed25519_instruction.rs
  sdk/src/entrypoint.rs
  sdk/src/entrypoint_deprecated.rs
  sdk/src/epoch_info.rs
  sdk/src/exit.rs
  sdk/src/fee.rs
  sdk/src/genesis_config.rs
  sdk/src/hard_forks.rs
  sdk/src/hash.rs
  sdk/src/lib.rs
  sdk/src/native_loader.rs
  sdk/src/nonce_account.rs
  sdk/src/offchain_message.rs
  sdk/src/packet.rs
  sdk/src/poh_config.rs
  sdk/src/precompiles.rs
  sdk/src/program_utils.rs
  sdk/src/pubkey.rs
  sdk/src/quic.rs
  sdk/src/recent_blockhashes_account.rs
  sdk/src/reward_type.rs
  sdk/src/rpc_port.rs
  sdk/src/shred_version.rs
  sdk/src/signature.rs
  sdk/src/signer/mod.rs
  sdk/src/transaction_context.rs
  sdk/src/transport.rs
Labels: none

Add fee-payer arg to solana feature activate (#29367)
  cli/src/feature.rs
Labels: none

replace ./cargo with cargo in sbf/bpf build scripts (#29371)
  cargo-build-bpf
  cargo-build-sbf
  cargo-test-bpf
  cargo-test-sbf
Labels: none

Make connection cache to support specified client endpoint (#29240)
  Cargo.lock
  client/Cargo.toml
  client/src/connection_cache.rs
  programs/sbf/Cargo.lock
Labels: none

chore: bump futures-util from 0.3.24 to 0.3.25 (#29337)
  Cargo.lock
  client-test/Cargo.toml
  client/Cargo.toml
  programs/sbf/Cargo.lock
  pubsub-client/Cargo.toml
  rpc-test/Cargo.toml
  streamer/Cargo.toml
  tpu-client/Cargo.toml
Labels: none

get rid of ./cargo when building downstream projects (#29372)
  scripts/build-downstream-anchor-projects.sh
  scripts/build-downstream-projects.sh
Labels: none

vote: Prevent commission update in the second half of epochs (#29362)
  Cargo.lock
  programs/vote/Cargo.toml
  programs/vote/src/vote_processor.rs
  programs/vote/src/vote_state/mod.rs
  sdk/program/src/vote/error.rs
  sdk/src/feature_set.rs
Labels: none

ci: trigger downstream pipeline when cargo-[test|build]-[bpf|sbf] is modified (#29390)
  ci/buildkite-pipeline.sh
Labels: none

ci: trigger stable-sbf pipeline when cargo-[test|build]-[bpf|sbf] is modified (#29391)
  ci/buildkite-pipeline.sh
Labels: none

Security TXT: Add source_release and source_revision fields (#29392)
  explorer/src/components/account/SecurityCard.tsx
  explorer/src/utils/security-txt.ts
Labels: explorer

Fix BigTable upload early return (#29378)
  ledger-tool/src/bigtable.rs
  ledger/src/bigtable_upload.rs
Labels: none

Minor cleanup on bigtable_upload (#29379)
  ledger/src/bigtable_upload.rs
Labels: none

Adjust ledger-tool bigtable upload starting-slot default value (#29384)
  ledger-tool/src/bigtable.rs
Labels: none

feat: Allow for verifying the sigs of partially signed txs in web3.js (#29249)
  web3.js/src/transaction/legacy.ts
  web3.js/test/transaction.test.ts
Labels: web3.js

Increase Stalebot's operation consumption limit by another 50%
  .github/workflows/manage-stale-issues-and-prs.yml
Labels: none

feat: add getInflationRate RPC call to web3.js (#29377)
  web3.js/src/connection.ts
  web3.js/test/connection.test.ts
Labels: web3.js

Temporary increase the build redundancy threshold (#29412)
  ci/test-stable.sh
Labels: none

Add an option to reinstall sbf-tool binaries by cargo-build-sbf (#29410)
  sdk/cargo-build-sbf/src/main.rs
  sdk/cargo-build-sbf/tests/crates.rs
Labels: none

Enable full output of cargo-build-sbf tests (#29411)
  sdk/cargo-build-sbf/tests/crates.rs
Labels: none

test: fix get inflation rate test failed at test:live (#29413)
  web3.js/test/connection.test.ts
Labels: web3.js

Bump sbf-tools to v1.32 (#29325)
  programs/sbf/rust/alloc/src/lib.rs
  programs/sbf/rust/custom_heap/src/lib.rs
  programs/sbf/tests/programs.rs
  sdk/bpf/scripts/install.sh
  sdk/cargo-build-sbf/src/main.rs
  sdk/cargo-build-sbf/tests/crates.rs
  sdk/sbf/scripts/install.sh
Labels: none

.github/labeler.yml:

explorer:
  - explorer/**/*

web3.js:
  - web3.js/**/*
  - web3.js-experimental/**/*
